* {
    margin: 0;
    padding: 0;
}

/* INICIO DE HEADER*/

#header{
    display: flex;
    background-color: #F7E1EF;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#logo{
    width: 180px;
    margin-left: 50px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#logo:hover{
    cursor: pointer;
}

#nav-header{
    margin-right: 50px;
    width: fit-content;
}

#nav-header #ul-nav{
    display: flex;
    list-style: none;
    gap: 30px;
}

#nav-header #ul-nav a{
    font-family: 'Paprika', cursive;
    color: #000;
    font-size: 15px;  
    transition: all 300ms;
}

#nav-header #ul-nav a:hover{
    color: #D9779F;
}

/* INICIO DE JUMBOTRON*/

#jumbotron{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

#jumbotron #jumbotron-h1 h1{
    font-family: 'Paprika', cursive;
}

#jumbotron #info-jumbotron p{
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    text-align: justify;
}

#jumbotron #info-jumbotron button{
    background-color: transparent;
    border: 2px solid #D9779F;
    border-radius: 50px;
    padding: 10px 30px;
    font-family: 'Paprika', cursive;
    font-size: 15px;
    color: #D9779F;
    font-weight: 600;
    transition: all 300ms;
}

#jumbotron #info-jumbotron button:hover{
    cursor: pointer;
    box-shadow: 0px 2px 5px grey;
}


#jumbotron-h1 h1{
    margin: 50px 0px;
    font-size: 30px;
    
}

#jumbotron-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#jumbotron #jumbotron-container #info-jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 600px;
    padding: 20px;
}

#jumbotron #jumbotron-container #container-img img {
    width: 600px;
}

/*INICIO DE BLOG/CATALOGO CON GRID*/

#blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "header header header"
        "card card card"
    ;
    justify-items: center;
    height: 900px;
    width: 100%;
}

#blog-info{
    grid-area: header;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: max-content;
    background-color: #D9779F;
    padding: 20px 0px;
}

#blog-info h2{
    font-family: 'Paprika', cursive;
    font-size: 30px;
    color: #F7E1EF;
    text-shadow: 1px 1px 3px grey;
}

#blog-info p{
    font-family: 'Bad Script', cursive;
    color: #F7E1EF;
    text-align: center;
    font-size: 25px;
    width: 100%;
}

.container-cards{
    grid-area: card;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
}

.container-cards .blog-card{
    padding: 15px;
    width: 85%;
    height: 500px;
    justify-self: center;
    text-align: center;
    box-shadow: 1px 1px 3px grey;
    border-radius: 10px;
}

.container-cards .blog-card:hover{
    box-shadow: 2px 2px 5px grey;
}

.container-cards .blog-card img{
    width: 80%;
}

.container-cards .blog-card ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    list-style: none;
    height: 250px;
    align-items: start;
}

.container-cards .blog-card #ul-bebe li{
    font-family: 'Bad Script', cursive;
    font-weight: 600;
    border-radius: 10px;
    background-color: #B4E4A0;
    height: max-content;
    text-align: center;
    width: 100%;
    font-size: 15px;
    box-shadow: 1px 1px 3px grey;
}

.container-cards .blog-card #ul-ninio li{
    font-family: 'Bad Script', cursive;
    font-weight: 600;
    border-radius: 10px;
    background-color: #A7C0DB;
    height: max-content;
    text-align: center;
    width: 100%;
    font-size: 15px;
    box-shadow: 1px 1px 3px grey;
}

.container-cards .blog-card #ul-adulto li{
    font-family: 'Bad Script', cursive;
    font-weight: 600;
    border-radius: 10px;
    background-color: #F9B0DE;
    height: max-content;
    text-align: center;
    width: 100%;
    font-size: 15px;
    box-shadow: 1px 1px 3px grey;
}

.container-cards .blog-card p{
    font-family: 'Bad Script', cursive;
    font-size: 15px;
    text-align: justify;
}

/* INICIO SECCIÓN ADICIONAL*/

#contacto{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/fondo-rosa-patron.png);
    background-size: cover;
    align-items: center;    
}

#contacto #header-contacto{
    width: 70%;
    text-align: center;
    padding: 30px 0px;
}

#contacto #header-contacto h2{
    font-family: 'Paprika', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px grey;
}

#contacto #header-contacto p{
    font-family: 'Bad Script', cursive;
    font-size: 25px;
    text-shadow: 1px 1px 3px grey;
}

#contacto #container-form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

#contacto #container-form #form{
    width: 400px;
}

#contacto #container-form label{
    font-family: 'Paprika', cursive;
    text-shadow: 1px 1px 3px gray;
}

#contacto #container-form input{
    border: none;
    height: 30px;
    border: 1px solid #F7E1EF;
    border-radius: 10px;
    font-family: 'Paprika', cursive;
    padding: 5px;
}

#contacto #container-form [name="textarea"]{
    border: 1px solid #F7E1EF;
    border-radius: 10px;
    font-family: 'Paprika', cursive;
    padding: 5px;
}

#contacto #container-form [type="button"]{
    position: relative;
    left: 90px;
    background-color: #F7E1EF;
    border: 2px solid #D9779F;
    border-radius: 50px;
    padding: 2px 30px;
    font-family: 'Paprika', cursive;
    font-size: 15px;
    color: #D9779F;
    font-weight: 600;
    transition: all 300ms;
    width: fit-content;
}

#contacto #container-form [type="button"]:hover{
    cursor: pointer;
    box-shadow: 0px 2px 5px grey;
}

#contacto #container-form img{
    width: 300px;
    height: 300px;    
}

#contacto #container-form #form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

/* INICIO FOOTER */

#footer{
    width: 100%;
    height: 200px;
    background-color: #A7C0DB;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer #logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer #logo-footer img{
    width: 300px;
    height: auto;
}

#footer #contacto-footer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#footer  h2{
    font-family: "Paprika", cursive;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #fff;
} 

#footer #contacto-footer ul li{
    font-family: 'Bad Script', cursive;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

#footer #redes{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#footer #redes ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

#footer #redes ul i{
    color: #fff;
    font-size: 40px;
    transition: all 300ms;
}

#footer #redes ul .fa-instagram:hover{
    color: #DA00E4;
}

#footer #redes ul .fa-square-facebook:hover{
    color: #1771E6;
}

#footer #redes ul .fa-youtube:hover{
    color: #FF0000;
}







